<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>newhobby</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
 	 <servlet-name>MainController</servlet-name>
 	 <servlet-class>net.hobby.controller.main.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
 	 <servlet-name>MainController</servlet-name>
 	 <url-pattern>/main.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
 	 <servlet-name>MemberJoinController</servlet-name>
 	 <servlet-class>net.hobby.controller.member.JoinController</servlet-class>
  </servlet>
  <servlet-mapping>
 	 <servlet-name>MemberJoinController</servlet-name>
 	 <url-pattern>/join.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
 	 <servlet-name>LoginController</servlet-name>
 	 <servlet-class>net.hobby.controller.member.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
 	 <servlet-name>LoginController</servlet-name>
 	 <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  
</web-app>
